.course-item {
  background: rgba(30, 31, 53, 0.8);
  padding: 30px 30px 20px;
}
  
.course-item a {
  color: #FFFFFF;
}
  
.course-item a:hover {
  color: rgba(255, 255, 255, 0.7);
}
  
.course-item:hover {
  background-image: radial-gradient(circle, rgba(137, 120, 211, 0.4) 0%, #1E1F35 100%);
}

.course-item .course-info img {
  margin-right: 20px;
}

.course-item .course-icon {
  position: relative;
  top: -6px;
}
  
.course-item .course-info span {
  color: #FFFFFF;
}

.course-item .course-info li {
  display: block;
  overflow: hidden;
}

.course-item .course-info li:last-child {
  padding-bottom: 0;
}

.course-item .course-info li strong {
  font-weight: 400;
  color: #FFFFFF;
}

.course-item .course-info li span {
  float: right;
}

.actions-btn {
  background-color: #25263a;
  padding: 25px 30px;
  margin-bottom: 20px;
}
